name: Publish NuGet Package

on:
    push:
        branches: [ main ]

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            packages: write
            contents: read

        steps:
            - uses: actions/checkout@v4
            
            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                dotnet-version: '10.0.x'

            - name: Pack
              run: |
                dotnet pack DannyGoodacre.Core/DannyGoodacre.Core.csproj \
                --configuration Release \
                --output ${{ github.workspace }}/nupkg
                
                dotnet pack DannyGoodacre.Tests.Core/DannyGoodacre.Tests.Core.csproj \
                --configuration Release \
                --output ${{ github.workspace }}/nupkg

            - name: Push to GitHub Packages
              run: |
                dotnet nuget push ./nupkg/*.nupkg \
                --api-key ${{ secrets.GITHUB_TOKEN }} \
                --source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" \
                --skip-duplicate
